<%= content_for :title, "Resend confirmation instructions" %>
<div class="content">
	<div class="container-fluid container-fixed-lg">
		<div class="row">
			<div class="col-md-6">
				<!-- START PANEL -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							Resend confirmation instructions
						</div>
					</div>
					<div class="panel-body">
						<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
							<%= f.error_notification %>
							<%= f.full_error :confirmation_token %>
							<div class="form-group form-group-default required">
								<label>Email</label>
								<%= f.input_field :email, required: false, autofocus: true, label: false, class: 'form-control'%>
							</div>
							<%= f.button :submit, "Resend confirmation instructions", class: 'btn btn-primary btn-cons m-t-10' %>
						<% end %>
						<%= render "devise/shared/links" %>
					</div>
				</div>
				<!-- END PANEL -->
			</div>
		</div>
	</div>
</div>  
