<%= content_for :title, "Resend unlock instructions" %>
<div class="content">
	<div class="container-fluid container-fixed-lg">
		<div class="row">
			<div class="col-md-6">
				<!-- START PANEL -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							Resend unlock instructions
						</div>
					</div>
					<div class="panel-body">
					<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
					  <%= f.error_notification %>
					  <%= f.full_error :unlock_token %>
					  <div class="form-group form-group-default required">
					  	<label>Email</label>
						<%= f.input_field :email, required: true, autofocus: true, label: false, class: 'form-control'%>
						<span class="help-block"><%= @user.errors[:email].first %></span>
					  </div>
					  <%= f.button :submit, "Send me reset password instructions", class: 'btn btn-primary btn-cons m-t-10' %>
					<% end %>
					<%= render "devise/shared/links" %>
					</div>
				</div>
				<!-- END PANEL -->
			</div>
		</div>
	</div>
</div>  

  
