<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header clearfix ">
    
      <a href="javascript:;" class="close" aria-hidden="true" onclick="window.location.reload()"><i class="pg-close fs-14"></i>
      </a>

      <h4 class="p-b-5"><span class="semi-bold">Edit</span> User</h4>
    </div>
    <div class="modal-body">
      <div class="add_user_loader" style="display: none;">
        <div class="progress-circle-indeterminate wrap"></div>
      </div>
      <p class="text-center alert alert-success" id="user-success" style="display:none;">User has been updated successfully.</p>
      <div class="form-user">
      <%= form_for @users, remote: true, format: :json, html: { :multipart => true, id: 'form_user'} do |f| %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default">
                        <label>First Name</label>
                        <%= f.text_field :fname, label: false, class: 'form-control' %>
                        <span class="help-block" id="fname_error"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default">
                        <label>Last Name</label>
                        <%= f.text_field :lname, label: false, class: 'form-control' %>
                        <span class="help-block" id="lname_error"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default">
                        <label>Email</label>
                        <%= f.text_field :email, label: false, class: 'form-control' %>
                        <% if @users.pending_reconfirmation? %>
                          <p>Currently waiting confirmation for: <%= @users.unconfirmed_email %></p>
                        <% end %>
                        <span class="help-block" id="email_error"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default">
                        <label>Image</label>
                        <p><%= image_tag @users.image.url(:thumb) %></p>
                        <label>
                          <%= f.check_box :remove_image %>
                          Remove Image
                        </label>
                        <div class="filelist" id="filelist"></div>
                        <a id="pickfiles" href="#">Upload Photo</a>                        
                        <%= f.hidden_field :image_cache %>
                        <span class="help-block" id="image_error"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default">
                        <label>Password</label>
                        <%= f.password_field :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", label: false, class: "form-control" %>
                        <span class="help-block" id="password_error"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default">
                        <label>Confirm Password</label>
                        <%= f.password_field :password_confirmation, label: false, class: "form-control" %>
                        <span class="help-block" id="password_confirmation_error"></span>
                      </div>
                    </div>
                  </div>
                  
              
              <div class="modal-footer">
                <%= f.submit 'Update', :class => 'btn btn-primary  btn-cons' %>
                <%= link_to "Close", users_path, class: 'btn btn-cons' %>
              </div>
              <% end %>
              </div>
              
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
     
<%= javascript_include_tag "plupload.full.min.js" %>
<script type="text/javascript">
  $(function(){
    var uploader = new plupload.Uploader({
      runtimes : "html5",
      browse_button : 'pickfiles',
      max_file_size : '10mb',
      url : '/users',
      multipart: true,
      urlstream_upload: true,
      file_data_name: 'user[image]',
      multipart_params: {
       authenticity_token: '<%= form_authenticity_token %>',
       plupload: true
      }
    });

    uploader.bind('FilesAdded', function(up, files) {
      $.each(files, function(i, file) {
        $('#filelist').append(
          '<div id="' + file.id + '">' +
          'File: ' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
          '</div>'
          );
        });
        uploader.start();        
      });

    uploader.bind('UploadProgress', function(up, file) {
      $('#' + file.id + " b").html(file.percent + "%");
    });

    uploader.bind('FileUploaded', function(up, file,res) {
      console.log(res);
      $('#user_image_cache').val(res.response); 
    });

    uploader.init();
  });
</script>