<%= content_for :title, "Users" %>
<div class="modal fade stick-up" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true">

</div>
<div class="content">
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
    <% if flash.key?("notice") or flash.key?("alert") %>
    <% if flash.key?("alert") %>
      <div class="alert alert-danger">
        <span>Error:</span><%= alert %>
      </div>
    <% end %>    
    <% if flash.key?("notice") %>
      <div class="alert alert-success">
        <span>Success:</span>
        <%= notice %>
      </div>
    <% end %>    
  <% end %>
      <div class="panel-heading">
        <div class="panel-title">Users
        </div>
        <div class="pull-right">
          <div class="col-xs-12">
            <%= link_to ("<i class='fa fa-plus'></i> Add User").html_safe, new_user_path, remote: true, class: "btn btn-primary btn-cons btn-adduser" %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
      <% if !@row.blank? %>
        <table class="table table-hover demo-table-dynamic" id="tableWithDynamicRows">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="user-index">
            <%= render "index" %>
          </tbody>
        </table>
      <% else %>
        <p class="alert alert-warning">No matching results found</p>
      <% end %>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
  <!-- END CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->    
</div>
<div class="container-fluid container-fixed-lg footer">
  <div class="copyright sm-text-center">
    <p class="small no-margin pull-left sm-pull-reset">
      <span class="hint-text">Copyright © 2014 </span>
      <span class="font-montserrat">REVOX</span>.
      <span class="hint-text">All rights reserved. </span>
      <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
    </p>
    <p class="small no-margin pull-right sm-pull-reset">
      <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
    </p>
    <div class="clearfix"></div>
  </div>
</div>

